<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MessengerApp"
        android:theme="@style/Theme.TwoPerson"
        android:label="Sənədlər"
        android:usesCleartextTraffic="false"
        android:allowBackup="false"
        android:supportsRtl="true">

        <activity android:name=".CallActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".DocumentActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>